/* Custom & Overriding CSS */


/*------------------------------------------------------------------------------------*/
/* General/Misc. */

body {
    background-color: black !important;
}

.caps {
    text-transform: uppercase;
    letter-spacing: .075em;
    font: 12px Arial;
}

h2 {
    text-transform: uppercase !important;
    letter-spacing: .075em !important;
    font: 15px Arial !important;
    font-weight: bold !important;
    font-style: italic !important;
    overflow: hidden;
    color: #5a5a5a;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

h2:after {
    content: "";
    display: inline-block;
    height: 0.955rem;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 0.5rem;
    border-top: 0.16rem solid #5a5a5a;
}

h2:before {
    content: "";
    display: inline-block;
    height: 0.955rem;
    vertical-align: bottom;
    width: 2rem;
    margin-right: 0.5rem;
    border-top: 0.16rem solid #5a5a5a;
}


/*------------------------------------------------------------------------------------*/
/* Backgrounds/Bodies */

.background {
    padding-left: 5%;
    padding-right: 5%;
    background-color: gainsboro;
}

.content {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 6em;
    padding-right: 6em;
    background-color: whitesmoke;
}

.footer {
    height: 3rem;
    background-color: black;
}


/*------------------------------------------------------------------------------------*/
/* Site Title */

.top-container {
    display: flex;
    background-color: black;
    padding-bottom: 0.5rem;
    margin: 0;
}

.logo-container {
    flex-basis: 65%;
    padding-left: 40%;
    margin: 0;
    user-select: none;
}

.login-container {
    flex-basis: 35%;
    justify-content: flex-end;
    text-transform: uppercase;
    letter-spacing: .075em;
    font: 12px Arial;
    margin: 0;
}

.btn-link, .btn-link:hover {
    color: #258835;
    font-weight: bold !important;
    border: 0;
    outline: 0;
}

.btn-link:hover{
    color: #17a2b8;
}

.user {
    text-transform: uppercase;
    letter-spacing: .075em;
    font: 14px Arial;
    color: silver !important;
    padding-top: 1rem;
    line-height: 1.2;
    font-style: italic;
}

.logo-mou {
    font-family: Sarpanch, sans-serif;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.25rem;
    line-height: 1;
    color: silver;
    align-self: flex-end;
}

.logo-dashboard {
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.3rem;
    line-height: 1.35;
    align-self: flex-end;
    margin-bottom: 1rem;
    display: flex;
    height: 3.75rem;
}

.logo-dash {
    color: black;
    background-color: silver;
    border-top: 2.5px solid silver;
    border-top-left-radius: .6rem;
    border-left: 2.5px solid silver;
    border-bottom-left-radius: .6rem;
    border-bottom: 2.5px solid silver;
    padding-left: 0.4rem;
    margin-left: 0.5rem;
}

.logo-board {
    color: silver;
    border-top: 2.5px solid silver;
    border-top-right-radius: .6rem;
    border-right: 2.5px solid silver;
    border-bottom-right-radius: .6rem;
    border-bottom: 2.5px solid silver;
    padding-left: 0.2rem;
    padding-right: 0.05rem;
}


/*------------------------------------------------------------------------------------*/
/* Tabs */

.tab-container {
    height: 2.5rem !important;
    text-transform: uppercase !important;
    letter-spacing: .075rem !important;
    font: 13px Arial !important;
    line-height: 2 !important;
    padding-left: 25rem;
    padding-right: 25rem;
    background-color: black !important;
    border-top: 0.5px solid silver !important;
}

.tab {
    padding: 0 !important;
    background-color: black !important;
    color: silver !important;
    border: 0 !important;
}

.tab:hover {
    color: #258835 !important;
    font-weight: bold;
}

.tab--disabled {
    color: #5a5a5a !important;
}

.tab--selected {
    color: #17a2b8 !important;
    font-weight: bold;
    font-size: 125%;
    line-height: 1.6 !important;
}


/*------------------------------------------------------------------------------------*/
/* Snapshot Info */

.make-snapshot {
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------------------------------*/
/* Large Dropdown Styles & Institution Fields */

.large-dropdown-container {
    display: flex;
    justify-content: center;
}

.large-dropdown {
    text-align: center;
    font-size: 1.9rem;
}

.large-dropdown > .Select-control {
    height: 4rem;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.large-dropdown > .Select-control > .Select-multi-value-wrapper > * {
    padding: 0 !important;
    padding-top: 0.25rem !important;
    line-height: 2 !important;
}

.large-dropdown > .Select-control > .Select-arrow-zone {
    visibility: hidden;
}

.large-dropdown > .Select-control > .Select-multi-value-wrapper > .Select-placeholder,
.large-dropdown > .Select-control > .Select-multi-value-wrapper > .Select-value > * {
    color: black !important;
}

.snapshot-dropdown > .Select-control > .Select-multi-value-wrapper > .Select-value > .Select-value-label {
    color: #5a5a5a !important;
}

.institution-headcounts-inner-container {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    padding: 0 !important;
}

.institution-headcount {
    margin: 1rem;
    max-width: 16.3rem !important;
    padding: 0;
}

.institution-headcount-input {
    max-width: inherit;
}


/*------------------------------------------------------------------------------------*/
/* Dropdown Select Control */

.Select-control {
    border-radius: .25rem;
}

.Select.is-disabled > .Select-control {
    background-color: whitesmoke;
}

.is-disabled > .Select-control > .Select-arrow-zone {
    /* Remove dropdown arrow from disabled dropdowns */
    visibility: hidden;
}


/*------------------------------------------------------------------------------------*/
/* Table Tools */

.wbs-table-top-toolbar {
    height: 38px;
    margin-right: 26rem;
}

.wbs-table-bottom-toolbar {
    height: 38px;
    margin-top: 1rem;
}

.table-tool-large, .table-tool-large > .Select-control {
    height: 38px;
    width: 27rem;
    margin-right: 1rem;
    padding: 0 !important;
}

.table-tool-medium {
    height: 38px;
    width: 18rem;
    margin-right: 1rem;
    padding: 0 !important;
}

.table-tool-small {
    height: 38px;
    width: 9rem;
    margin-right: 1rem;
    padding: 0 !important;
}


/*------------------------------------------------------------------------------------*/
/* DataTable */

.dash-header, .dash-delete-header {
    border-right-width: 1px !important;
    border-left-width: 0 !important;
    border-top-width: 0 !important;
    border-color: lightgray !important;
}

.cell--selected {
    background-color: white !important;
}

.Select-menu-outer {
    display : block !important; /* make visible */
    --accent : black;
    padding-left: 1.5em;
}

.dash-spreadsheet-menu {
    position: relative;
    float: right;
    margin-bottom: 1rem;
    margin-top: -38px;
}

.dash-spreadsheet-menu > * {
    padding: 0 !important;
}

.export, .show-hide { /* copy btn btn-outline-secondary */
    color: #5a5a5a;
    border-color: #5a5a5a;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: .25rem;

    height: 38px;
    margin: 0;
    margin-left: 1rem;
    padding: 0 !important;
}

.export {
    width: 9rem;
}

.show-hide {
    width: 18rem;
}

.export:hover, .show-hide:hover { /* copy btn btn-outline-secondary */
    color: whitesmoke;
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}


/*------------------------------------------------------------------------------------*/
/* dbc Buttons */

.btn {
    padding: .375rem 2rem;
}

.btn-dark {
    background-color: black;
}

.btn-dark:hover {
    background-color: #5a5a5a;
}

.btn-outline-secondary:hover {
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}

.btn-success {
    background-color: #258835;
    border-color: #258835;
}

.btn-success:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: whitesmoke;
}

.btn-outline-success {
    color: #258835;
    border-color: #258835;
}

.btn-outline-success:hover {
    background-color: #258835;
}

.text-success {
    color: #258835 !important;
}


/*------------------------------------------------------------------------------------*/
/* DataTable */

.column-header--hide { /* Hide the column header hide icon */
    visibility: hidden !important;
    padding: 0 !important;
    width: 0 !important;
}

.dash-header {
    padding-right: 0.5em !important;
    text-transform: uppercase;
    letter-spacing: .075em;
}

.dash-header > div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.column-header--sort {
    float: right !important;
    margin-left: 0.5em;
    text-align: right;
    flex-basis: 1%;
}

.column-header-name {
    flex-basis: 99%;
}

.current-page {
    width: 35px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dash-delete-cell {
    text-align: center !important;
    padding: 0 !important;
}

.dash-spreadsheet-container table {
    --accent: #17a2b8 !important;
    --selected-background: #17a2b8 !important;
    --selected-color: #17a2b8 !important;
}
