coloredlogs>=14.0
git+https://github.com/WIPACrepo/keycloak-rest-services@v1.1.15#egg=krs
https://github.com/WIPACrepo/rest-tools/archive/refs/tags/v1.1.20.zip
motor==2.2.0
nest-asyncio==1.4.1
openpyxl==3.0.9
pandas==1.4.0
protobuf==3.20.1
pymongo==3.11.0
python-dateutil==2.8.1
requests>=2.25.1
tornado==6.0.4
xlrd==1.2.0