cachetools==5.0.0
coloredlogs>=14.0
dash-bootstrap-components==0.10.6
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-table==4.10.1
dash==1.16.1
flask-oidc==1.4.0
Flask==1.1.2
https://github.com/WIPACrepo/rest-tools/archive/refs/tags/v1.1.20.zip
itsdangerous==2.0.1
ldap3==2.8.1
plotly==4.10.0
python-dateutil==2.8.1
requests>=2.25.1
visdcc==0.0.40